@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

/* globals.css or styles.css */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.control-dots {
  z-index: 100;
}

.carousel .slide {
  text-align: start !important;
}
.carousel.carousel-slider {
  padding-bottom: 40px;
  margin-bottom: -70px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
